<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
    <p>&nbsp;</p>

    <!-- Social media icons -->
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <a href="https://www.github.com/dwindsor">
            <img src="public/images/github.png" border="0"/>
          </a>
        </td>
        <td style="spacing: 5">
          <a href="https://www.twitter.com">
            <img src="public/images/twitter.png" border="0"/>
          </a>
        </td>
        <td style="spacing: 5">
          <a href="https://www.goodreads.com/user/show/7342753-david-windsor">
            <img src="public/images/goodreads.png" border="0"/>
          </a>
        </td>
        <td style="spacing: 5">
          <a href="https://www.soundcloud.com">
            <img src="public/images/soundcloud.png" border="0"/>
          </a>    
        </td>      
      </tr>
    </table>

    <span class="sidebar-licensing">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">0x4141.net</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">David Windsor</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </span>
  </div>
</div>
